@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$primary: rgba(#FF8100, 1);
$secondary: rgba(#216477, 1);
$dark: rgba(#002C38, 1);
$info: rgba(#39AECF, 1);


$base-font: 18px/160% Raleway, sans-serif;

$h1-font: 800 96px/100% Raleway, sans-serif;
$h1-font-sm: 800 36px/130% Raleway, sans-serif;
$h1-margin-bottom: 36px;

$h2-font: 800 64px/100% Raleway, sans-serif;
$h2-font-sm: 800 32px/130% Raleway, sans-serif;
$h2-margin-bottom: 36px;

$h3-font: 800 48px/100% Raleway, sans-serif;
$h3-font-sm: 800 24px/130% Raleway, sans-serif;
$h3-margin-bottom: 32px;

$h4-font: 800 36px/130% Raleway, sans-serif;
$h4-font-sm: 800 18px/130% Raleway, sans-serif;
$h4-margin-bottom: 18px;

$h5-font: 800 24px/130% Raleway, sans-serif;
$h5-font-sm: 800 18px/130% Raleway, sans-serif;
$h5-margin-bottom: 6px;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "dark": $dark,
        "info": $info,
);

$spacers: (
        6: ($spacer * 6),
);

@mixin respond-to($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($grid-breakpoints, $breakpoint) {
        // Write the media query.
        @media (max-width: map-get($grid-breakpoints, $breakpoint)) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    } @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}