<template>
    <div class="app">
        <aside class="sidebar">
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <router-link :to="{name: 'cameras'}">Камеры</router-link>
                </li>
            </ul>
        </aside>
        <main class="content">
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
    export default {
        name: "App"
    }
</script>

<style scoped lang="scss">
    .app {
        display: flex;
        min-height: 100vh;
        align-items: stretch;
    }

    .sidebar {
        min-width: 250px;
        background: #2d2d2d;
    }

    .sidebar__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .sidebar__item a {
        display: block;
        padding: 15px;
        color: white;
    }

    .content {
        width: 100%;
        padding: 15px;
    }
</style>